{% extends "base.html" %}
{% load static %}

{% block titulo %}Lista de Reportes{% endblock %}

{% block contenido %}
<div class="card shadow border-0 p-4 mb-4">
    <h2 class="fw-bold text-danger mb-3">Listado de Solicitudes Vecinales</h2>
    <p class="text-muted">Registro actual de peticiones ingresadas al sistema municipal.</p>

    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle border">
            <thead class="table-dark">
                <tr>
                    <th>Código</th>
                    <th>Fecha</th>
                    <th>Responsable</th>
                    <th>Territorio</th>
                    <th>Gestión</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for r in reportes %}
                <tr>
                    <td class="fw-bold">{{ r.codigo }}</td>
                    <td>{{ r.fecha }}</td>
                    <td>{{ r.responsable }}</td>
                    <td>{{ r.territorio }}</td>
                    <td>{{ r.tipo_gestion }}</td>
                    <td>
                        {% if r.estado == "Realizado" %}
                            <span class="badge bg-success">Realizado</span>
                        {% else %}
                            <span class="badge bg-warning text-dark">En Proceso</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}